In [3]:
library(tidyverse)

In [4]:
library(tibble)
df <- as_tibble(mtcars)
df <- df[c("mpg","hp","am")]
head(df)

  mpg  hp  am
1 21.0 110 1
2 21.0 110 1
3 22.8  93 1
4 21.4 110 0
5 18.7 175 0
6 18.1 105 0

In [6]:
library(broom)
model1 <- lm(hp~am*mpg,df)
tidy(model1)

  term        estimate    std.error statistic  p.value
1 (Intercept) 360.7424987 44.002514  8.1982248 6.351254e-09
2 am           32.3403550 65.063693  0.4970569 6.230295e-01
3 mpg         -11.6915515  2.507447 -4.6627307 6.971654e-05
4 am:mpg        0.7767704  3.151655  0.2464643 8.071208e-01

In [7]:
model2 <- glm(am ~ wt, mtcars, family="binomial")
tidy(model2)

  term        estimate std.error statistic p.value
1 (Intercept) 12.04037 4.509706   2.669879 0.007587858
2 wt          -4.02397 1.436416  -2.801396 0.005088198

In [8]:
print("njvdknsdskl")

[1] "njvdknsdskl"