In [2]:
import pandas as pd
import statsmodels as stats

In [30]:
df = pd.read_csv('airline_passengers.csv')
df.

,Month,Thousands of Passengers
140,1960-09,508.0
141,1960-10,461.0
142,1960-11,390.0
143,1960-12,432.0
144,International airline passengers: monthly tota...,NaN

In [28]:
df.index = pd.to_datetime(df['Month'], format='%Y-%m')

ValueError: time data International airline passengers: monthly totals in thousands. Jan 49 ? Dec 60 doesn't match format specified